.header{
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 480px){
        position: relative;
    }
}
.header__block{
    @media screen and (max-width: 767px){
        display: none;
        &--mob{
            display: flex;
            justify-content: space-between;
        }
    }
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }
}
.header__block--mob{
    @media screen and (min-width: 768px){
        display: none;
    }
}

   
    
